<div fxFill fxLayout="column">

  <h2>Infinite Torpor</h2>

  <div fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="15px">

    <swiper fxFlex.lt-md="1 1 auto" fxFlex="65">
      <img src="http://placekitten.com/300/200" *ngFor="let img of [1, 2, 3, 4, 5, 6]">
    </swiper>

    <div fxFlex.lt-md="1 1 auto" fxFlex="30">
      <p>[Work In Progress]</p>
      <p>Explore procedurally generated dungeons, fight back and try to find a way out!</p>
      <p>This was a personal project with my little brother (game artist).</p>
      <p> I built the game engine from scratch (game loop, collisions detection, buttons...), and developed game mechanics (combat system, enemies behavior...).
        The game is procedurally generated based on hand-crafted rooms.</p>
      <p>Made in C++ with only SDL2.</p>
      <p>See the source code on Github</p>
    </div>

  </div>
</div>
