<div fxFill fxLayout="column" class="project-modal">

  <h2>{{ 'projects.' + projectData.name + '.title' | translate }}</h2>

  <div fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="15px">

    <swiper fxFlex.lt-md="1 1 auto" fxFlex="60">
      <img *ngFor="let img of projectData.images; let index = index"
           [src]="'assets/images/projects/'+projectData.name+'/dialog/'+img.url"
           [alt]="img.alt">
    </swiper>

    <div fxFlex.lt-md="1 1 auto" fxFlex="35">
      <div class="paragraph-wrapper" [innerHTML]="'projects.' + projectData.name + '.modal.body' | translate"></div>
    </div>

  </div>
</div>
