<div fxFill fxLayout="column" class="project-modal">

  <button class="close-button" matDialogClose>
    <fa-icon size="2x" [icon]="['fas', 'times']"></fa-icon>
  </button>

  <h2 #modalTitle>{{ 'projects.' + projectData.name + '.title' | translate }}</h2>

  <div class="content-wrapper" fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="15px">

    <div class="swiper-div" fxFlex.lt-md="1 1 auto" fxFlex="60">

      <mat-carousel
        timings="250ms ease-in"
        [autoplay]="true"
        interval="5000"
        color="accent"
        maxWidth="auto"
        proportion="56.25"
        [slides]="projectData.images.length"
        [loop]="true"
        [hideArrows]="false"
        [hideIndicators]="false"
        [useKeyboard]="true"
        [useMouseWheel]="false"
        orientation="ltr">

        <mat-carousel-slide
            #matCarouselSlide
            *ngFor="let img of projectData.images; let i = index"
            [image]="'assets/images/projects/'+projectData.name+'/dialog/'+img.url"
            overlayColor="#00000012"
            [hideOverlay]="false"
        ></mat-carousel-slide>
      </mat-carousel>
    </div>

    <div fxFlex.lt-md="1 1 auto" fxFlex="40" class="paragraph-wrapper">
      <div [innerHTML]="'projects.' + projectData.name + '.modal.body' | translate"></div>
    </div>

  </div>
</div>
