<div (click)="openModal()" (mouseenter)="showDetails = true" (mouseleave)="showDetails = false" class="main-div" fxFill
     fxLayout="column" fxLayoutAlign="center center"
     [ngStyle]="{ 'background-image': 'url(assets/images/projects/' + projectData.name + '/thumbnail.png)'}">

  <div></div>

  <div class="project-details" fxLayout="column">

    <h4>{{ 'projects.' + projectData.name + '.title' | translate }}</h4>

    <div>
      {{ 'projects.' + projectData.name + '.sub-title' | translate }}
    </div>

    <div><i>{{ 'projects.' + projectData.name + '.tags' | translate }}</i></div>
  </div>

  <!--<div *ngIf="showDetails" class="view-project">
    <div [@fadeInUpOnEnter]>View project</div>
  </div>-->
</div>
