.main-div {
  transition: all .2s ease-in-out;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  border: 1px solid red;
  background-color: white;
  cursor: pointer;

  &:hover {
    transform: scale(1.075);
  }

  .project-details{
    position: absolute;
    left: 3%;
    bottom: 3%;

    max-width: 94%;

    padding: 8px;

    text-align: left;

    background-color: rgba(0,0,0,.5);
    color: white;

    h4 {
      margin: 0;
      font-size: 1.25em;
    }
  }
}

