@import "~src/styles";

:host {
  display: flex;
  width: 100%;
}

.project-card {
  cursor: pointer;

  width: 100%;

  color: $text-color;

  font-family: 'Lato', sans-serif;

  display: flex;

  flex-direction: column;

  p {
    margin: 8px 0;
  }

  mat-card-header {
    padding-bottom: 8px;


    mat-card-title {
      font-family: 'Concert One', cursive;

      font-size: 1.3em;

      margin-bottom: 8px;
    }

    mat-card-subtitle {
      margin-bottom: 4px;
    }

  }

  img {
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
  }


  .project-tags {
    font-size: 1.1em;
    margin: 0;
    padding: 0;
  }

  .mat-card-avatar {
    background-position: center;
    background-size: cover;
  }
}
