/*
$primary-color: #011640;
$primary-2-color: #2d5873;
$primary-3-color: #7ba696;

$accent-color: #bf9663;
*/

$primary-color: #1976d2;
$primary-light-color: #63a4ff;
$primary-dark-color: #004ba0;

$accent-color: #512da8;
$accent-dark-color: #140078;
$accent-light-color: #d2b46d;

$text-color: #011640;
$header-color: white;
$background-color: #fff5ed;



