a {
  cursor: pointer;
}

nav {
  padding: 20px 0;
}

header {
  height: 85vh;
  min-height: 350px;

  position: relative;

  text-align: center;

  background-size: cover;

  .front-div {
    z-index: 10;
    padding: 15px;
  }

  .sub-title-wrapper{
    min-height: 3em;
  }

  img {
    width: 46px;
    height: 46px;

    transition: all .2s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: rotate(20deg);
    }
  }
}

.background-image{
  background-image: url("../../../assets/images/background.jpg");
  background-size: cover;
}

.background-image:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.4);
  transition: all .3s linear;
}

main {
  text-align: center;
}

footer {
  margin-top: 20px;
  padding: 20px;
}

section {
  position: relative;

  min-height: 150px;
  p {
    padding: 0 15px;
    max-width: 700px;
  }

  &:after {
    content: '';
    display: block;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);

    width: 300px;
    height: 1px;

    background: rgba(117,81,125,0.15);
  }
}

section#about {
  p {
    text-align: left;
  }
}

section#work {
  .project-wrapper {
    width: 1400px;
    max-width: 80vw;
  }
}

