<div fxFill fxLayout="column">
  <header #headerDiv fxLayout="column">

    <div class="background-image" *ngIf="!deviceService.isMobile()" [config]="{axis: 'Y', speed: .25}" parallax>
    </div>

    <div class="background-image" *ngIf="deviceService.isMobile()">
    </div>

    <particles [params]="myParticleParams" [style]="myParticleStyle"></particles>

    <div class="front-div" fxLayout="row" fxLayoutAlign="center center">
      <nav fxFlex="50" fxFlex.gt-md="20" fxFlex.lt-sm="90" [@fadeInOnEnter]
           fxLayout="row" fxLayoutAlign="space-between start">
        <a href="#about">{{ 'about.header' | translate }}</a>
        <a href="#work">{{ 'work.header' | translate }}</a>
        <!--<a href="#skills">{{ 'skills.header' | translate }}</a>-->
        <a href="#contact">{{ 'contact.header' | translate }}</a>
      </nav>
    </div>

    <div class="front-div" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="start center">
        <h1 [@bounceInOnEnter]>{{'name' | translate}}</h1>
        <div class="sub-title-wrapper">
          <teximate *ngIf="showHeaderText" [enter]="enterTextAnimation" [text]="getSubHeader()"></teximate>
        </div>
        <div fxLayout="row" fxLayoutGap="8px">
          <img class="pokeball" [alt]="'pokeball_' + i"
               [@rotateInDownRightOnEnter]="{ value: '', params: { delay: 2500+(i * 150) } }"
               *ngFor="let i of [0, 1, 2, 3]"
               [src]=" 'assets/images/pokeballs/' + i + '.svg'">
        </div>
      </div>
    </div>
    <!--<fa-icon class="arrow-down-icon" size="3x" [icon]="['fas', 'arrow-down']"></fa-icon>-->
  </header>

  <main fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="30px">
    <section id="about">
      <ng-container>
        <div class="view-port-trigger" appIntersectionObserver (onIntersection)="onIntersection('about')">
        </div>
        <h2 #aboutHeader [@fadeInLeft]="{ value: isSectionActive('about'), params: { delay: headerAnimationDelay },
           opacity : 1 }"
            (@fadeInLeft.done)="setAfterAnimationStyles(aboutHeader, 'about')">{{ "about.header" | translate }}</h2>
        <div class="content" #aboutParagraph
             [@fadeIn]="{ value: isSectionActive('about'), params: { delay: contentAnimationDelay }, opacity : 1}"
             (@fadeIn.done)="setAfterAnimationStyles(aboutParagraph, 'about')"
             innerHTML="{{ 'about.content' | translate }}">
        </div>
      </ng-container>
    </section>

    <section id="work">
      <ng-container>
        <div class="view-port-trigger" appIntersectionObserver (onIntersection)="onIntersection('work')">
        </div>
        <h2 #workHeader
            [@fadeInRight]="{ value: isSectionActive('work'), params: { delay: headerAnimationDelay }, opacity : 1 }"
            (@fadeInRight.done)="setAfterAnimationStyles(workHeader, 'work')">{{ 'work.header' | translate }}</h2>

        <div class="project-wrapper" fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="project-div"
               #workProject (@fadeInUp.done)="setAfterAnimationStyles(workProject, 'work')"
               [@fadeInUp]="{ value: isSectionActive('work'),
                   params: { delay: contentAnimationDelay + (i * 100) }, opacity : 1 }"

               *ngFor="let project of projectList; let i = index">
            <app-project [projectData]="project"></app-project>
          </div>

          <div #moreComingSoon
               class="project-div"
               (@fadeInUp.done)="setAfterAnimationStyles(moreComingSoon, 'work')"
               [@fadeInUp]="{ value: isSectionActive('work'),
                     params: { delay: contentAnimationDelay + (projectList.length * 100) }, opacity : 1}"
               fxLayout="column" fxLayoutAlign="center center">
            <div class="more-coming">{{'project.more-coming' | translate}}...</div>
          </div>
        </div>

      </ng-container>
    </section>

    <!--<section id="skills">
      <div class="view-port-trigger"
           appIntersectionObserver (onIntersection)="onIntersection('skills')">
      </div>
      <h2 #skillsHeader
          [@fadeInLeft]="{ value: isSectionActive('skills'), params: { delay: headerAnimationDelay }, opacity : 1 }"
          (@fadeInLeft.done)="setAfterAnimationStyles(skillsHeader, 'skills')">{{ 'skills.header' | translate }}</h2>
      <div class="content" #skillsParagraph
           [@fadeIn]="{ value: isSectionActive('skills'), params: { delay: contentAnimationDelay }, opacity : 1}"
           (@fadeIn.done)="setAfterAnimationStyles(skillsParagraph, 'skills')"
           innerHTML="{{'skills.content' | translate}}">
      </div>
    </section>-->

    <section id="contact">
      <div class="view-port-trigger" appIntersectionObserver (onIntersection)="onIntersection('contact')">
      </div>
      <h2 #contactHeader
          [@fadeInRight]="{ value: isSectionActive('contact'), params: { delay: headerAnimationDelay }, opacity : 1 }"
          (@fadeInRight.done)="setAfterAnimationStyles(contactHeader, 'contact')">{{ 'contact.header' | translate }}</h2>
      <div class="content" #contactParagraph
           [@fadeIn]="{ value: isSectionActive('contact'), params: { delay: contentAnimationDelay }, opacity : 1}"
           (@fadeIn.done)="setAfterAnimationStyles(contactParagraph, 'contact')" fxLayout="column" fxLayoutGap="25px">

        <div fxLayout="column" fxLayoutGap="8px">
          <div>{{'contact.email' | translate}}</div>
          <a href="mailto:baptiste.rey05@gmail.com">baptiste.rey05@gmail.com</a>
        </div>

        <div fxLayout="column" fxLayoutGap="8px">
          <div>{{'contact.other' | translate}}</div>
          <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="15px">
            <a class="icon-contact" target="_blank" href="https://github.com/Civetdelapin" rel="noreferrer">
              <fa-icon size="2x" [icon]="['fab', 'github']"></fa-icon>
            </a>
            <a class="icon-contact" target="_blank" href="https://www.linkedin.com/in/baptiste-rey/" rel="noreferrer">
              <fa-icon size="2x" [icon]="['fab', 'linkedin']"></fa-icon>
            </a>
            <a class="icon-contact" target="_blank" href="https://www.senscritique.com/Civetdelapin" rel="noreferrer">
              <fa-icon size="2x" [icon]="['fas', 'bookmark']"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div>{{'footer.made-with' | translate}}
        <fa-icon class="icon-heart" [size]="'lg'" [icon]="['fas', 'heart']"></fa-icon>
        {{'footer.using-angular' | translate}}
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div>Baptiste Rey © 2019</div>
    </div>
  </footer>
</div>
